.side-drawer {
    height: 100%;
    background: #281306;
    /* box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5); */
    position: fixed;
    left: 0;
    width: 60%;
    max-width: 400px ;
    z-index: 200;
    transform: translate(-100%);
    transition: transform 0.5s ease-out;
    cursor: pointer;
}
.side-drawer.open{
    transform: translateX(0);
}

.side-drawer ul{
    height: 70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.side-drawer li{
    margin: 0.5rem 0;
}

.side-drawer a{ 
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.side-drawer a:hover,
.side-drawer a:active{
    color: red;
}

.shop{
    font-size: smaller;

}


@media (min-width: 769px){
    .side-drawer {
        display: none;
        
    }
}

@media (min-width: 800px)  {
    .side-drawer{
    display: none;
    }
 }